#gameSpace {
  margin-bottom: 50px
}

#gameCards{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -12px 0 0 -12px;
  padding-bottom: 50px;
}



.card-select{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px
}

.card-select > button {
  width: 100px;
  justify-content: center;
  margin-left: 47.5%;
}

.card-select > select {
  width: 100px;
  justify-content: center;
  margin-left: 47.5%;
  text-align: center;
}