#game-columns {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  width: 500px;
  height: 275px;
}

#game-card {
  border: 1px solid black;
  width:500px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;
  margin-top: 100px;
  margin-bottom: -50px;
}

input {
  display: grid;
  border: 1px solid black;
  height: 30px;
  margin: 0px;
  padding: 10px;
}

#selector:checked + label {
  background: blue;
  color: white;
}

#bingoBttn {
  margin-bottom: 20px
}