#bingo-list {
  width: 70%;
  margin-left: 5%;
  margin-right: 15%; 
}

#Row {
  display: flex;
  flex-direction: row;
  width: 100%;
}


.number {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
  cursor: pointer;
}

.number-selected {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  background-color: blue;
  color: white;
  row-gap: 5px;
  cursor: pointer;
}

#letter {
  margin-right: 11px
}
#letterI{
  margin-right:15px;
  margin-left: 5px
}
#letterG{
  margin-right:12px;
}
#letterN{
  margin-right: 9px
}
.botcards3{
  display: grid;
  grid-template-columns: repeat(3, .1fr);
  gap: 10px;
  justify-content: center;
}

.botcards6{
  display: grid;
  grid-template-columns: repeat(3, .1fr);
  gap: 10px;
  justify-content: center;
}
.botcards10{
  display: grid;
  grid-template-columns: repeat(5, .1fr);
  gap: 10px;
  justify-content: center;
}
.botcards20{
  display: grid;
  grid-template-columns: repeat(5, .1fr);
  gap: 10px;
  justify-content: center;
}

#game-card-bot{
  border: 1px solid black;
  width:220px;
  justify-content: center;
  text-align: center;
  font-size: x-small;
}
.section-title {
  text-align: center;
  align-items: center;
  justify-content: center;

}

#game-columns-bot {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  grid-template-rows: repeat(5, 40px);
  width: 100px;
  height: auto;
  margin-left: 10px;
}

#container {
  margin-top: 75px;
  margin-bottom: 75px
}

.draw-bttn{
  border: 0;
  border-radius: 5px;
  cursor:pointer;
  padding: 20px;
  font-weight: bold;
  color: white;
  background: linear-gradient(349deg, rgba(34,122,170,1) 0%, rgba(151,89,160,1) 56%, rgba(235,160,157,1) 100%);
  -webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.draw-bttn:hover{
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.draw-bttn:active{
  transform: translateY(4px);
  box-shadow: 10px 6px 30px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 6 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 6px 30px 0px rgba(0,0,0,0.75);
}

#drawArea{
  display: flex;
  align-items: center;
}

#currentDrawNumber{
  margin-left: 5%;
}