#bingo-list {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%; 
}

#Row {
  display: flex;
  flex-direction: row;
  width: 100%;
}


.number {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
  cursor: pointer;
  border: 1px solid black;
}

.number-selected {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  border-radius: 50%;
  background-color: blue;
  color: white;
  row-gap: 5px;
  cursor: pointer;
}

#letter {
  margin-right: 11px
}
#letterI{
  margin-right:15px;
  margin-left: 5px
}
#letterG{
  margin-right:12px;
}
#letterN{
  margin-right: 9px
}
.botcards3{
  display: grid;
  grid-template-columns: repeat(3, .1fr);
  gap: 10px;
  border: 1px solid black;
  justify-content: center;
}

.botcards6{
  display: grid;
  grid-template-columns: repeat(3, .1fr);
  gap: 10px;
  border: 1px solid black;
  justify-content: center;
}
.botcards10{
  display: grid;
  grid-template-columns: repeat(5, .1fr);
  gap: 10px;
  border: 1px solid black;
  justify-content: center;
}
.botcards20{
  display: grid;
  grid-template-columns: repeat(5, .1fr);
  gap: 10px;
  border: 1px solid black;
  justify-content: center;
}

#game-card-bot{
  border: 1px solid black;
  width:220px;
  justify-content: center;
  text-align: center;
  font-size: x-small;
}
.section-title {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 100px
}

#game-columns-bot {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  grid-template-rows: repeat(5, 40px);
  width: 100px;
  height: auto;
  margin-left: 10px;
}