#game-columns {
  display: grid;
  grid-template-rows: repeat(5, 100px);
  grid-template-columns: repeat(5, 100px) ;
  grid-gap: 0;
  grid-auto-flow: row;
  padding-right: 0;
  margin-left: 40px;
}

#game-card {
  /* border: 1px solid black; */
  width:500px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 10px;
  margin: 0 auto;
  margin-top: 10px;
}

input {
  display: grid;
  border: 1px solid black;
  height: 30px;
  margin: 0px;
  padding: 10px;
}

#selector:checked + label {
  background: blue;
  color: white;
}

#bingoBttn {
  position: relative;
  margin-top: -40px;
  margin-bottom: 50px;
  margin-left: 35px;
  padding: 10px;
  width: 250px;
  background-color: green;
  border-radius: 5px;
  border: 0px;
  color: white;
  -webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
  cursor: pointer;
}

#bingoBttn:hover {
  box-shadow: 5px 5px 21px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 5px 21px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 21px 0px rgba(0,0,0,0.75);
  -webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.number-card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  cursor: pointer;
  border: 1px solid black;
  border-left: 0px;
  border-right: 0px;
  height: 75px;
  width: 100px;
  border-bottom: 0;
  position: relative;
}
.number-card-selected {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 100px;
  background-color: blue;
  color: white;
  row-gap: 5px;
  cursor: pointer;
  border: 1px solid black;
}


#Column{
  border: 1px solid black;
  height: 453.6px;
}